<%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, method: :post,class:'guest' %>
<header class="page-header">
    <%= link_to image_tag("logo.png", class:"logo", alt:"Sweet Tooth ホーム"), "/" %>
     <nav>
        <ul class="main-nav">
         <% if user_signed_in? %>
            <li><%= link_to current_user.nickname,  "#", class: "user-nickname" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
         <% else%>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
         <% end %>
        </ul>
     </nav>
</header>
