<div class="grid">
    <% @sweet.each do |sweet| %>
      <div class="item-content">
        <% if sweet.image.variable? %>
          <%= link_to sweet_path(sweet.id) do %>
            <%= image_tag(sweet.image.variant(gravity: :center, resize:"320x320^",crop:"320x320+0+0").processed,class:"img-grid") %>
          <% end%>
        <% end %>
        <div class="item-name">
              <%= sweet.name %>
          <div class="item-created_at">
               投稿日：<%= sweet.created_at.strftime('%Y/%m/%d') %>
          </div>
            <div id="like_<%= sweet.id %>">
              <%= render partial: "sweets/sweet", locals:{sweet: sweet} %>
            </div>
        </div>
      </div>
    <% end %>
</div><!-- /.grid -->
