<body class="login-body">
<% if flash[:notice] %>
  <div class="notification is-info">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="notification is-danger">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
<div class="login-contents">
  <div class="container">
    <h2 class="login-title">Log in</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in", class:"login-btn" %>
        <%= link_to 'Back to top page', root_path, class:'pagelink',data: {confirm: "トップページへ戻りますか？"} %>
      </div>
    <% end %>
  </div>
 </div>

<%= render "shared/footer" %>

</body>
