<%= render "shared/header" %>

   <div class="main">
     <%= image_tag('main-bg.jpg', class:"big-bg") %>
     <div class="main-content wrapper">
       <h2 class="page-title">Is there a good way to satisfy the desire to eat sweets without feeling guilty?</h2>
       <p class="text">
           あなたのオススメのデザートを紹介してくれませんか？
       </p>
     </div>
   </div>
    <div class="post-btn">
       <% if user_signed_in?%>
          <%= link_to "投稿する", new_sweet_path,  class:"top-post-button" %>
       <% end %>
    </div>

   <div class="wrapper grid">
      <% @sweet.each do |sweet| %>
         <div class="item">
            <%= link_to image_tag(sweet.image,class:"image-grid"), sweet_path(sweet.id) %>
          <div class="item-name">
            <%= sweet.name %>
          </div>
         </div>
      <% end %>
   </div><!-- /.grid -->

<%= render "shared/footer" %>
