<body class="index">
 <%= render "shared/header" %>
   <div class="main">
     <%= image_tag('main-bg.jpg', class:"big-bg") %>
     <div class="main-content">
       <h2 class="page-title">Is there a good way to satisfy the desire to eat sweets without feeling guilty?</h2>
       <p class="text">
           あなたのオススメのデザートを紹介してくれませんか？
       </p>
     </div>
   </div>
   <div class="post-btn-content">
       <% if user_signed_in?%>
          <%= link_to "投稿する", new_sweet_path,  class:"top-post-button" %>
       <% end %>
   </div>
   <%= form_with(url: search_sweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
   <% end %>
    <%= render "shared/sweet" %>

 <%= render "shared/footer" %>
</body>
