 <%= render "shared/header" %>
   <div class="main">
     <%= image_tag('main-bg.jpg', class:"big-bg") %>
     <div class="main-content">
       <h2 class="page-title">Is there a good way to satisfy the desire to eat sweets without feeling guilty?</h2>
       <p class="text">
           あなたのオススメのデザートを紹介してくれませんか？
       </p>
     </div>
   </div>
    <div class="post-btn-content">
       <% if user_signed_in?%>
          <%= link_to "投稿する", new_sweet_path,  class:"top-post-button" %>
       <% end %>
    </div>
      <div class="grid">
         <% @sweet.each do |sweet| %>
            <div class="item-content">
               <%= link_to image_tag(sweet.image.variant(combine_options:{gravity: :center, resize:"320x320^",crop:"320x320+0+0"}).processed,class:"img-grid"), sweet_path(sweet.id) %>
            <div class="item-name">
               <%= sweet.name %>
               <div class="item-created_at">
               投稿日：<%= sweet.created_at.strftime('%Y/%m/%d') %>
               </div>
            </div>
            </div>
         <% end %>
      </div><!-- /.grid -->

 <%= render "shared/footer" %>

