<%= render "shared/header" %>

  <div class="show-contents">
    <div class="sweet-img-content">
        <%= image_tag @sweet.image.variant(combine_options:{gravity: :center, resize:"600x600^",crop:"600x600+0+0"}).processed, class:"sweet-box-img" %>
    </div><br/>

    <% if user_signed_in?  %>

      <% if current_user.id == @sweet.user_id %>
        <div class="more-list">
          <%= link_to "編集", edit_sweet_path(@sweet.id), method: :get, class:"edit-btn" %>
          <%= link_to "削除",sweet_path(@sweet.id), method: :delete, class:"destroy-btn" %>
        </div>
      <% end %>
    <% end %>

    <table class="detail-table">
     <tbody>
      <tr>
        <th class="detail-sweet">投稿者</th>
        <td class="detail-value"><%= @sweet.user.nickname%></td>
      </tr>
      <tr>
        <th class="detail-sweet">商品名</th>
        <td class="detail-value"><%= @sweet.name%></td>
      </tr>
      <tr>
        <th class="detail-sweet">価格</th>
        <td class="detail-value">¥<%= @sweet.price %></td>
      </tr>
      <tr>
        <th class="detail-sweet">購入/利用店舗</th>
        <td class="detail-value"><%= @sweet.shop_info %></td>
      </tr>
      <tr>
        <th class="detail-sweet-text">商品紹介</th>
        <td class="detail-value-text"><%= @sweet.text %></td>
      </tr>
     </tbody>
    </table>
    <div class="another-sweet-content">
      <%= link_to user_path(@sweet.user.id) do %>
      <div class="another-sweet">
      <%= @sweet.user.nickname %>さんの投稿一覧をみる
      </div>
      <% end %>
    </div>
  </div>

<%= render "shared/footer" %>
