<body class="index">

<%= render "shared/header" %>
  <div class="show-title"><%= @sweet.name %>
  </div>
  <div class="show-contents">
    <div class="sweet-img-content">
        <%= image_tag @sweet.image.variant(gravity: :center, resize:"600x600^",crop:"600x600+0+0").processed, class:"sweet-box-img" %>
    </div><br/>

    <% if user_signed_in?  %>

      <% if current_user.id == @sweet.user_id %>
        <div class="more-list">
          <%= link_to "編集", edit_sweet_path(@sweet.id), method: :get, class:"show-sweet-edit-btn" %>
          <%= link_to "削除",sweet_path(@sweet.id), method: :delete, class:"destroy-btn" %>
        </div>
      <% end %>
    <% end %>

    <table class="detail-table">
     <tbody>
      <tr>
        <th class="detail-sweet">投稿者</th>
        <td class="detail-value"><%= @sweet.user.nickname%></td>
      </tr>
      <tr>
        <th class="detail-sweet">商品名</th>
        <td class="detail-value"><%= @sweet.name%></td>
      </tr>
      <tr>
        <th class="detail-sweet">価格</th>
        <td class="detail-value">¥<%= @sweet.price %></td>
      </tr>
      <tr>
        <th class="detail-sweet">購入/<br/>利用店舗</th>
        <td class="detail-value"><%= @sweet.shop_info %></td>
      </tr>
      <tr>
        <th class="detail-sweet-text">商品紹介</th>
        <td class="detail-value-text"><%= @sweet.text %></td>
      </tr>
     </tbody>
    </table>

    <table class="detail-comment-table">
     <tbody>
      <tr>
       <th class="detail-sweet-comment" >コメント一覧</th>
       <tr>
       <td class="detail-value-comment" id="comments">
          <% @comments.reverse_each do |comment| %>
          <p>
           <%= comment.user.nickname %>さん: <%= comment.text %>
          </p>
        <% end %>
       </td>
       </tr>
      </tr>
     </tbody>
    </table>

    <div class="comment-container">
      <% if user_signed_in? %>
       <%= form_with(model: [@sweet, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントを入力", rows: "2", class:"text_area" %>
          <%= form.submit "コメントする", class:"comment-btn" %>
       <% end %>
      <% end %>

    <div class="another-sweet-content">
      <%= link_to user_path(@sweet.user.id) do %>
        <div class="another-sweet">
          <%= @sweet.user.nickname %>さんの投稿一覧をみる
        </div>
      <% end %>
    </div>
  </div>
 </div>

<%= render "shared/footer" %>

</body>
